<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <div fxLayout="row wrap"
         fxLayoutAlign="start start"
         fxLayoutGap="grid"
         fxLayoutGap.xs="0">

        <app-ticket-card *ngFor="let ticket of currentUserTicketsObservable | async"
                         [model]="ticket.payload.doc.data()"
                         [ticketPurchaseId]="ticket?.payload?.doc?.id"
                         [routerLink]="['/page/event/' + ticket?.payload?.doc?.data()?.listingId]"
                         fxFlex="25"
                         fxFlex.lg="33"
                         fxFlex.md="50"
                         fxFlex.sm="100"
                         fxFlex.xs="100">
        </app-ticket-card>
    </div>
</div>