.page {
  min-height: calc(100vh - 64px - (2 * 16px));

  > mat-tab-group {
    mat-card {
      margin: 10px;
    }
  }

  > mat-card, > mat-tab-group {
    width: 100%;
    min-width: 240px;
    max-width: 960px;
    min-height: 320px;

    @media only screen and (max-width: 599px) {
      width: calc(100% - 32px);
    }

    @media only screen and (min-width: 599px) {
      width: calc(100% - 48px);
    }
  }
}