<mat-list-item>
    <img [src]="authService?.userData?.smallProfileImageUrl"
         [routerLink]="['/page/user-profile/']"
         default="/assets/images/placeholder-avatar.png"
         alt="''"
         matListAvatar>
    <app-comment-form [(model)]="model"
                      (onSubmit)="create()"></app-comment-form>
</mat-list-item>