@import '~@angular/material/theming';

@include mat-core();

div.cdk-overlay-container {
  snack-bar-container {
    .mat-simple-snackbar-action {
      color: #FFFFFF;
    }

    &.warn {
      background-color: #f44336;
    }
  }
}