<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card *ngIf="authService?.userData">
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <div class="image-container">
                <app-upload-image-form [(model)]="authService.userData.profileImageUrl"
                                       (onSubmit)="updateImage($event)"></app-upload-image-form>
            </div>
            <app-user-form [(model)]="authService.userData"
                           (onSubmit)="update()"></app-user-form>
        </mat-card-content>
    </mat-card>
</div>