<form (ngSubmit)="onSubmit.emit($event)"
      #buzzInviteForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">

    RADIUS (KM)
    <mat-slider [(ngModel)]="model.buzzRadius"
                (ngModelChange)="modelChange.emit(model)"
                #buzzRadius="ngModel"
                name="buzzRadius"
                [max]="max"
                [min]="1"
                [thumbLabel]="true"
                [displayWith]="formatLabel">
    </mat-slider>

    <p>
        <small>
            Buzz Invite allows you to quickly inform nearby users about your event (Every user gets free 500 Buzz
            Kilometres when they sign up). NB: The pin drop is the location of the event.
        </small>
    </p>

    <button [disabled]="buzzInviteForm.invalid"
            mat-raised-button>
        <span *ngIf="model.buzzRadius === 1">SEND FREE 1 KM</span>
        <span *ngIf="model.buzzRadius != 1">SEND {{model?.buzzRadius}} KM</span>
    </button>
    <button [routerLink]="['/page/buzz-balance']"
            color="accent"
            mat-raised-button>
        BUY MORE KM
    </button>
</form>