<form (ngSubmit)="onSubmit.emit($event)"
      #filterForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">

    RADIUS (KM)
    <mat-slider [(ngModel)]="model.radius"
                (ngModelChange)="modelChange.emit(model)"
                #radius="ngModel"
                name="radius"
                [disabled]="!locationEnabled"
                [max]="4500"
                [min]="0"
                [step]="10"
                [thumbLabel]="true"
                [tickInterval]="10"
                [displayWith]="formatLabel">
    </mat-slider>

    PRICE RANGE (CAD)
    <div fxLayout="row wrap"
         fxLayoutAlign="center center"
         fxLayoutGap.gt-xs="10px">
        <mat-form-field fxFlex
                        fxFlex.xs="100">
            <input [(ngModel)]="model.min"
                   (ngModelChange)="modelChange.emit(model)"
                   #min="ngModel"
                   name="min"
                   type="number"
                   placeholder="Minimum"
                   min="0"
                   matInput
                   required>
            <mat-error *ngIf="min.invalid">Invalid Price</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex
                        fxFlex.xs="100">
            <input [(ngModel)]="model.max"
                   (ngModelChange)="modelChange.emit(model)"
                   #max="ngModel"
                   name="max"
                   placeholder="Maximum"
                   matInput
                   required>
            <mat-error *ngIf="max.invalid">Invalid Price</mat-error>
        </mat-form-field>
    </div>

    CATEGORIES
    <mat-form-field>
        <mat-select [(ngModel)]="model.categories"
                    (ngModelChange)="modelChange.emit(model)"
                    #categories="ngModel"
                    name="categories"
                    multiple>
            <mat-option *ngFor="let category of categoryList"
                        [value]="category?.text">
                {{category?.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    MOODS
    <mat-form-field>
        <mat-select [(ngModel)]="model.moods"
                    (ngModelChange)="modelChange.emit(model)"
                    #moods="ngModel"
                    name="moods"
                    multiple>
            <mat-option *ngFor="let mood of moodList"
                        [value]="mood?.text">
                {{mood?.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <label>DATE </label>
        <mat-radio-group [(ngModel)]="model.date"
                         (ngModelChange)="modelChange.emit(model)"
                         #date="ngModel"
                         name="date"
                         fxLayout="column"
                         fxLayoutGap="10px">
            <mat-radio-button value="day">Today</mat-radio-button>
            <mat-radio-button value="week">Next 7 Days</mat-radio-button>
            <mat-radio-button value="future">Future Events</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <label>SORTING </label>
        <mat-radio-group [(ngModel)]="model.sorting"
                         (ngModelChange)="sortingChange.emit(model)"
                         #sorting="ngModel"
                         name="sorting"
                         fxLayout="column"
                         fxLayoutGap="10px">
            <mat-radio-button [disabled]="!locationEnabled"
                              value="distance">Distance (Nearest First)
            </mat-radio-button>
            <mat-radio-button value="heat">Heat Level (High to Low)</mat-radio-button>
            <mat-radio-button value="price">Price (Low to High)</mat-radio-button>
            <mat-radio-button value="date">Start Date (Upcoming First)</mat-radio-button>
        </mat-radio-group>
    </div>
</form>