<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card>
        <mat-card-content>
            <mat-list>
                <ng-container *ngFor="let notification of notificationService.notificationObservable | async">
                    <ng-container [ngSwitch]="notification?.type">
                        <app-buzz-invitation-notification *ngSwitchCase="'buzzInvitation'"
                                                          [model]="notification"
                                                          [routerLink]="['/page/event/' + notification?.listingId]">
                        </app-buzz-invitation-notification>
                        <app-event-was-canceled-notification *ngSwitchCase="'eventWasCanceled'"
                                                             [model]="notification">
                        </app-event-was-canceled-notification>
                        <app-event-was-deleted-notification *ngSwitchCase="'eventWasDeleted'"
                                                            [model]="notification"
                                                            [routerLink]="['/page/event/' + notification?.listingId]">
                        </app-event-was-deleted-notification>
                        <app-event-was-opened-notification *ngSwitchCase="'eventWasOpened'"
                                                           [model]="notification"
                                                           [routerLink]="['/page/event/' + notification?.listingId]">
                        </app-event-was-opened-notification>
                        <app-following-notification *ngSwitchCase="'following'"
                                                    [model]="notification"
                                                    [routerLink]="['/page/user-profile/' + notification?.userId]">
                        </app-following-notification>
                        <app-refund-declined-notification *ngSwitchCase="'refundDeclined'"
                                                          [model]="notification">
                        </app-refund-declined-notification>
                        <app-refund-granted-notification *ngSwitchCase="'refundGranted'"
                                                         [model]="notification">
                        </app-refund-granted-notification>
                        <app-refund-requested-notification *ngSwitchCase="'refundRequested'"
                                                           [model]="notification">
                        </app-refund-requested-notification>
                        <app-team-edit-notification *ngSwitchCase="'teamEdit'"
                                                    [model]="notification"
                                                    [routerLink]="['/page/user-profile/' + notification?.userId]">
                        </app-team-edit-notification>
                        <app-user-commented-notification *ngSwitchCase="'userCommented'"
                                                         [model]="notification">
                        </app-user-commented-notification>
                        <app-user-joined-event-notification *ngSwitchCase="'userJoinedEvent'"
                                                            [model]="notification"
                                                            [routerLink]="['/page/user-profile/' + notification?.userId]">
                        </app-user-joined-event-notification>
                        <app-user-replied-notification *ngSwitchCase="'userReplied'"
                                                       [model]="notification">
                        </app-user-replied-notification>
                    </ng-container>
                </ng-container>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>