<mat-card>
    <mat-card-header>
        <mat-card-title><strong>Guests ({{model?.length}})</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap"
                      fxLayoutAlign="start none">
        <img *ngFor="let user of model"
             [src]="user?.payload?.doc?.data()?.smallProfileImageUrl"
             [matTooltip]="user?.payload?.doc?.data()?.name"
             [routerLink]="['/page/user-profile/' + user?.payload?.doc?.id]"
             default="/assets/images/placeholder-avatar.png"
             matTooltipPosition="above"
             alt="">
    </mat-card-content>
</mat-card>