.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .toolbar {
    img {
      height: 100%;
    }
  }

  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    .sidenav {
      min-width: 15rem;

      .mat-list-avatar {
        font-size: 40px;
      }
    }

    .mat-sidenav-content {
      mat-progress-bar {
        position: fixed;
        z-index: 2;
      }

      > .page {
        padding: 16px;

        @media only screen and (max-width: 599px) {
          padding: 0;
        }
      }
    }
  }

  &.is-mobile {
    .toolbar {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }

    .sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }
  }
}