<div [class.is-mobile]="mobileQuery.matches"
     class="container">
    <mat-toolbar color="accent"
                 class="toolbar">
        <button (click)="snav.toggle()"
                mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <img src="/assets/images/logo-transparent.png"
             alt="Transparent Logo">
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                           class="sidenav-container">
        <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     [opened]="!mobileQuery.matches"
                     fixedTopGap="56"
                     class="sidenav"
                     #snav>

            <mat-nav-list *ngIf="authService?.afAuth.user | async as user">
                <a [routerLink]="['./user']"
                   mat-list-item>
                    <img [src]="authService?.userData?.smallProfileImageUrl"
                         default="/assets/images/placeholder-avatar.png"
                         alt="spi"
                         matListAvatar>
                    <h3 *ngIf="user?.email"
                        matLine>
                        {{user?.displayName}}
                    </h3>
                    <h3 *ngIf="!user?.email"
                        matLine>
                        Guest
                    </h3>
                    <p matLine>
                        <span>{{user?.email}}</span>
                    </p>
                </a>

                <a [routerLink]="['./nearby']"
                   mat-list-item>
                    <mat-icon matListIcon>place</mat-icon>
                    Nearby Events
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./notifications']"
                   mat-list-item>
                    <mat-icon matListIcon>notifications</mat-icon>
                    Notifications
                </a>

                <mat-divider></mat-divider>

                <a *ngIf="user?.email"
                   [routerLink]="['./event-edit']"
                   mat-list-item>
                    <mat-icon matListIcon>edit</mat-icon>
                    Create Event
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./events']"
                   mat-list-item>
                    <mat-icon matListIcon>today</mat-icon>
                    My Events
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./tickets']"
                   mat-list-item>
                    <mat-icon matListIcon>local_play</mat-icon>
                    My Tickets
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./buzz-balance']"
                   mat-list-item>
                    <mat-icon matListIcon>payment</mat-icon>
                    Buzz Balance
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./team']"
                   mat-list-item>
                    <mat-icon matListIcon>business</mat-icon>
                    Team
                </a>
                <a *ngIf="user?.email"
                   [routerLink]="['./settings']"
                   mat-list-item>
                    <mat-icon matListIcon>settings</mat-icon>
                    Settings
                </a>
                <a [routerLink]="['./documents']"
                   mat-list-item>
                    <mat-icon matListIcon>info</mat-icon>
                    Support / Legal
                </a>

                <a (click)="authService?.logout()"
                   mat-list-item>
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-progress-bar [style.visibility]="loadingService?.isLoading ? 'visible': 'hidden'"
                              [color]="'warn'"
                              mode="indeterminate"></mat-progress-bar>
            <div class="page">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>