<mat-list-item>
    <img [src]="model?.userPic"
         default="/assets/images/placeholder-avatar.png"
         alt="user picture"
         matListAvatar>
    <h3 matLine>
        <strong>{{model?.userName}}</strong> sent you a buzz invitation to <strong>{{model?.eventName}}</strong>
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date }}</small>
    </p>
</mat-list-item>
<div class="img-wrapper">
    <img [src]="model?.data?.eventPic"
         default="/assets/images/placeholder-event.png"
         alt="event picture">
</div>