@import "../page.component";

.page {
  > mat-card {
    div.map-container {
      width: calc(100% + 48px);
      height: 360px;
      margin: -24px -24px 16px -24px;

      > agm-map {
        height: 100%;
      }
    }
  }
}