<div fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     class="page">

    <mat-card>
        <div *ngIf="modelObservable | async as listing"
             class="map-container">
            <agm-map [latitude]="listing?.geoPoint?.latitude"
                     [longitude]="listing?.geoPoint?.longitude"
                     [zoom]="12">
                <agm-marker [latitude]="listing?.geoPoint?.latitude"
                            [longitude]="listing?.geoPoint?.longitude"></agm-marker>

                <agm-circle [editable]="false"
                            [radius]="buzzInvite?.buzzRadius * 1000"
                            [latitude]="listing?.geoPoint?.latitude"
                            [longitude]="listing?.geoPoint?.longitude"
                            [fillColor]="'red'"></agm-circle>
            </agm-map>
        </div>

        <ng-container *ngIf="(buzzCreditObservable | async)?.payload?.data() as buzzCredit">
            <mat-card-content>
                <div fxLayout="row"
                     fxLayoutAlign="center center">
                    <h3>{{buzzInvite?.buzzRadius}} / {{buzzCredit?.credits}} (KM)</h3>
                </div>
                <app-buzz-invite-form [model]="buzzInvite"
                                      [max]="buzzCredit?.credits"
                                      (onSubmit)="sendBuzzInvite()"></app-buzz-invite-form>
            </mat-card-content>
        </ng-container>
    </mat-card>
</div>