<mat-nav-list>
    <!--
        <a (click)="delete()"
           mat-list-item>
            <span mat-line>Promotions</span>
        </a>
    -->
    <a (click)="sendBuzzInvite()"
       mat-list-item>
        <span mat-line>Send Buzz Invite</span>
    </a>
    <a *ngIf="!data?.disabled?.edit"
       (click)="edit()"
       mat-list-item>
        <span mat-line>Edit Event</span>
    </a>
    <a *ngIf="!data?.disabled?.delete"
       (click)="delete()"
       mat-list-item>
        <span mat-line>Delete Event</span>
    </a>
    <a *ngIf="!data?.disabled?.viewTicketTimeline"
       (click)="viewTicketTimeline()"
       mat-list-item>
        <span mat-line>View Ticket Timeline</span>
    </a>
    <a (click)="dismiss()"
       mat-list-item>
        <span mat-line>Cancel</span>
    </a>
</mat-nav-list>