<mat-nav-list>
    <mat-list-item *ngFor="let ticket of listingTicketsObservable | async"
                   [routerLink]="ticket?.payload?.doc?.data()?.forShow ? null : ['/page/ticket-purchase/' + data.eventId + '/' + ticket?.payload?.doc?.id]"
                   (click)="ticket?.payload?.doc?.data()?.forShow ? null : dismiss()">
        <h3 mat-line>{{ticket?.payload?.doc?.data()?.title}}</h3>
        <span mat-line>{{ticket?.payload?.doc?.data()?.amount}} tickets left</span>
        <span mat-line>
            <small *ngIf="ticket?.payload?.doc?.data()?.refundable">Refundable</small>
            <small *ngIf="!ticket?.payload?.doc?.data()?.refundable">Non-Refundable</small>
        </span>
        <span mat-line>
            <small>{{ticket?.payload?.doc?.data()?.info}}</small>
        </span>
        <span mat-line>
            <small *ngIf="ticket?.payload?.doc?.data()?.forShow">See event description for more details</small>
        </span>
        <div>
            ${{ticket?.payload?.doc?.data()?.price}}
        </div>
    </mat-list-item>

    <a (click)="dismiss()"
       mat-list-item>
        <span mat-line>Cancel</span>
    </a>
</mat-nav-list>