<mat-nav-list>
    <a *ngIf="data?.block"
       (click)="block()"
       mat-list-item>
        <span mat-line>Block</span>
    </a>
    <a *ngIf="data?.unblock"
       (click)="unblock()"
       mat-list-item>
        <span mat-line>Unblock</span>
    </a>
    <a (click)="dismiss()"
       mat-list-item>
        <span mat-line>Cancel</span>
    </a>
</mat-nav-list>