<mat-list-item *ngIf="replyerObservable | async as replyer">
    <img [src]="replyer?.smallProfileImageUrl"
         [routerLink]="['/page/user-profile/' + userId]"
         default="/assets/images/placeholder-avatar.png"
         alt="''"
         matListAvatar>
    <h3 matLine>
        <a [routerLink]="['/page/user-profile/' + userId]">
            <strong>{{replyer?.name}}</strong>
        </a>
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}</small>
    </p>
    <button (click)="openReplyActionBottomSheet()"
            mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-list-item>
<div class="reply-wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="start center"
     fxLayoutGap="10px">
    <pre>{{model?.reply}}</pre>
</div>