@import "../list-item.component";

mat-list-item {
  height: 36px !important;

  img {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
  }
}

div.reply-wrapper {
  padding: 0 16px;

  > pre {
    margin-top: 5px !important;
  }
}