<form (ngSubmit)="onSubmit.emit($event)"
      #ticketFrom="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.title"
               #title="ngModel"
               name="title"
               placeholder="Ticket Title e.g VIP Pass"
               matInput
               required>
        <mat-error *ngIf="title.invalid">Invalid Ticket Title</mat-error>
    </mat-form-field>

    <mat-form-field
            matTooltip="Currency is based on the locale of the event. Set the price to 0 to create a free ticket."
            matTooltipPosition="above"
            fxFlex>
        <input [(ngModel)]="model.price"
               #price="ngModel"
               name="price"
               type="number"
               placeholder="Ticket Price"
               min="0"
               matInput
               required>
        <mat-error *ngIf="price.invalid">Invalid Ticket Price</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
        <input [(ngModel)]="model.amount"
               #amount="ngModel"
               name="amount"
               type="number"
               placeholder="Amount of Tickets"
               min="1"
               matInput
               required>
        <mat-error *ngIf="amount.invalid">Invalid Amount of Tickets</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
        <input [(ngModel)]="model.maxNumber"
               #maxNumber="ngModel"
               name="maxNumber"
               type="number"
               placeholder="Maximum Tickets per User"
               min="1"
               matInput
               required>
        <mat-error *ngIf="maxNumber.invalid">Invalid Maximum Number of Tickets</mat-error>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="purchaseable"
                      #forShow="ngModel"
                      name="forShow"
                      color="accent">
        Purchasable on JANGUBUZZ
        <p *ngIf="!model.forShow"
           class="slide-toggle-description">
            <small>Description for this ticket, including links, can be put in the ticket information box below.</small>
        </p>
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="model.refundable"
                      #refundable="ngModel"
                      name="refundable"
                      color="accent">
        Refundable
    </mat-slide-toggle>

    <mat-form-field>
        <textarea [(ngModel)]="model.info"
                  #info="ngModel"
                  name="info"
                  placeholder="Ticket Information"
                  cdkAutosizeMinRows="5"
                  matInput
                  matTextareaAutosize></textarea>
        <mat-error *ngIf="info.invalid">Invalid Ticket Information</mat-error>
    </mat-form-field>

    <p>
        <small>
            Base service and processing fee on each ticket purchased is 6.5% + C$0.30 and this fee is non-refundable.
        </small>
    </p>
    <p>
        <small>
            Note: You may be required to remit taxes to the taxation authority in your region, province or country,
            in accordance with the taxation laws that apply to you as an event organizer. Note the taxes might differ
            based on the type of your event, your location, tax status, event location etc. Remember to confer with your
            own tax adviser about your tax obligations with respect to your event.
        </small>
    </p>

    <button [disabled]="ticketFrom.invalid"
            mat-button>
        {{submitBtnText}}
    </button>
</form>