<form (ngSubmit)="onSubmit.emit($event)"
      #recoverPasswordForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.email"
               #email="ngModel"
               name="email"
               type="email"
               placeholder="Email"
               matInput
               required
               email>
        <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <button [disabled]="recoverPasswordForm.invalid"
            color="primary"
            mat-raised-button>
        RECOVER PASSWORD
    </button>
</form>