<form (ngSubmit)="onSubmit.emit($event)"
      #eventFrom="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.name"
               (ngModelChange)="modelChange.emit(model)"
               #name="ngModel"
               name="name"
               placeholder="Event Name"
               matInput
               required>
        <mat-error *ngIf="name.invalid">Invalid Event Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model._startDate"
               [matDatepicker]="startDateDatepicker"
               [min]="minDate"
               (ngModelChange)="modelChange.emit(model)"
               #startDate="ngModel"
               name="startDate"
               placeholder="Start Date"
               matInput
               required>
        <mat-datepicker-toggle [for]="startDateDatepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDateDatepicker></mat-datepicker>
        <mat-error *ngIf="startDate.invalid">Invalid Start Date</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model._endDate"
               [matDatepicker]="endDateDatepicker"
               [min]="model._startDate"
               (ngModelChange)="modelChange.emit(model)"
               #endDate="ngModel"
               name="endDate"
               placeholder="End Date"
               matInput
               required>
        <mat-datepicker-toggle [for]="endDateDatepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDateDatepicker></mat-datepicker>
        <mat-error *ngIf="endDate.invalid">Invalid End Date</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
        <input [(ngModel)]="model.age"
               (ngModelChange)="modelChange.emit(model)"
               #age="ngModel"
               name="age"
               type="number"
               placeholder="Minimum Age"
               min="0"
               matInput
               required>
        <mat-error *ngIf="age.invalid">Invalid Minimum Age</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="model._categories"
                    (ngModelChange)="generateCategory()"
                    #categories="ngModel"
                    name="categories"
                    placeholder="Categories"
                    multiple>
            <mat-option *ngFor="let category of categoryList"
                        [value]="category?.text">
                {{category?.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <textarea [(ngModel)]="model.description"
                  (ngModelChange)="modelChange.emit(model)"
                  #description="ngModel"
                  name="description"
                  placeholder="Description"
                  cdkAutosizeMinRows="5"
                  matInput
                  matTextareaAutosize></textarea>
        <mat-error *ngIf="description.invalid">Invalid Description</mat-error>
    </mat-form-field>
</form>