<mat-card>
    <img [src]="listing?.profileImageUrl"
         default="/assets/images/placeholder-event.png"
         mat-card-image>
    <mat-card-header>
        <mat-card-title>
            <strong>
                {{model?.title}}
            </strong>
            <small> @</small>
            {{listing?.name}}
        </mat-card-title>
        <mat-card-subtitle>
            <p><small>${{model?.amount}} / ticket &bull; {{model?.amount}} Tickets</small></p>
            <p><small>Maximum {{model?.maxNumber}} ticket(s) / user.</small></p>
            <p>
                <span *ngIf="model?.refundable">Refundable</span>
                <span *ngIf="!model?.refundable">Non-Refundable</span>
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button (click)="onEdit.emit(); $event.stopPropagation()"
                color="primary"
                mat-button>
            EDIT
        </button>
        <button (click)="onDelete.emit(); $event.stopPropagation()"
                color="warn"
                mat-button>
            DELETE
        </button>
    </mat-card-actions>
</mat-card>