<mat-card *ngIf="listingObservable && listingPurchasedTicketObservable">
    <img [src]="(listingObservable | async)?.profileImageUrl"
         default="/assets/images/placeholder-event.png"
         mat-card-image>
    <mat-card-header>
        <mat-card-title>
            <strong>
                {{model?.ticketInfo?.title}}
                ({{listingPurchasedTicket?.amount}} / {{model?.totalTickets}})
            </strong>
            <small> @</small>
            {{(listingObservable | async)?.name}}
        </mat-card-title>
        <mat-card-subtitle>
            <p>
                <small>
                    VALID UNTIL {{(listingObservable | async)?.endDate?.seconds * 1000 | date: 'MMM d, yyyy'}}
                </small>
            </p>
            <p>
                <small *ngIf="refundable">Refundable</small>
                <small *ngIf="!refundable">Non-Refundable</small>
            </p>
            <p>
                <small>{{model?.ticketInfo?.info}}</small>
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button (click)="openQRCodeDialog(); $event.stopPropagation()"
                color="accent"
                mat-button>
            QR Code
        </button>
        <button [style.color]="'gray'"
                (click)="openTicketBottomSheet(); $event.stopPropagation()"
                class="icon"
                mat-button>
            <mat-icon matListIcon>more_vert</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>