mat-card {
  height: 360px !important;
  margin: 10px;
  cursor: pointer;

  > img {
    height: 200px !important;
    object-fit: cover;
  }

  > mat-card-header {
    height: 136px;

    small {
      color: gray;
    }

    p {
      margin: 0;
    }
  }

  > mat-card-actions {
    text-align: right;

    button.icon {
      padding-right: 0;
      padding-left: 0;
      min-width: 50px;
    }
  }
}