<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card *ngIf="modelObservable | async as model"
              fxLayout="column"
              fxLayoutAlign="center center">

        <mat-card-title>
            <strong>${{model?.price / 100 | currency: 'CAD'}}</strong>
        </mat-card-title>
        <mat-card-subtitle>
            {{model?.cardBrand}} : {{model?.last4}}
        </mat-card-subtitle>

        <mat-card-content class="secondary">
            <p>
                {{model?.dateCreated?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}
            </p>
            <p>
                <small>{{id}}</small>
            </p>
        </mat-card-content>
        <mat-card-content class="description">
            <h5>Description</h5>
            <p>
                <strong>{{model?.numberOfTickets}} {{model?.ticketTitle}} for {{model?.eventName}}</strong>
            </p>
        </mat-card-content>
    </mat-card>
</div>