@import "../page.component";

mat-card {
  max-width: 960px !important;
  padding: 24px 0 0 0 !important;
  background-color: #ff7777;

  > mat-card-title{
    padding-top: 20px;
    color: white;
  }

  > mat-card-subtitle {
    color: white;
  }

  > mat-card-content {
    margin: 30px !important;

    h5 {
      color: gray;
      text-align: center;
    }
    p {
      text-align: center;
    }

    &.secondary {
      padding: 15px 0;
      margin: 0 !important;
      width: 100%;
      color: white;
    }

    &.description {
      padding: 20px 0 40px 0;
      margin: 0 !important;
      width: 100%;
      background-color: white;
    }
  }
}