<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-tab-group>
        <mat-tab label="Nearby Events">
            <div *ngIf="!currentCoordinate"
                 matTooltip="Location is disabled. Currently displaying events near the last known location."
                 class="warning"
                 fxLayout="row"
                 fxLayoutAlign="center center">
                <mat-icon color="warn">warning</mat-icon>
            </div>

            <div fxLayout="row wrap"
                 fxLayoutAlign="start start"
                 fxLayoutGap="grid"
                 fxLayoutGap.xs="0">

                <ng-container *ngFor="let listing of currentUserNearbyListingsObservable | async">
                    <app-event-card *ngIf="isMatchNearbyFilter(listing?.payload?.doc?.data())"
                                    [model]="listing?.payload?.doc?.data()"
                                    [id]="listing?.payload?.doc?.id"
                                    [routerLink]="['/page/event/' + listing?.payload?.doc?.id]"
                                    fxFlex="25"
                                    fxFlex.lg="33"
                                    fxFlex.md="50"
                                    fxFlex.sm="100"
                                    fxFlex.xs="100">
                    </app-event-card>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Filter">
            <ng-template mat-tab-label>
                <mat-icon>tune</mat-icon>
            </ng-template>
            <mat-card>
                <mat-card-content fxLayout="column"
                                  fxLayoutGap="10px">
                    <app-nearby-filter-form [(model)]="nearbyFilter"
                                            [locationEnabled]="!!currentCoordinate"
                                            (sortingChange)="updateCurrentUserNearbyListingsObservable()"></app-nearby-filter-form>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>