<mat-nav-list>
    <a (click)="delete()"
       mat-list-item>
        <span mat-line>Delete</span>
    </a>
    <a (click)="dismiss()"
       mat-list-item>
        <span mat-line>Cancel</span>
    </a>
</mat-nav-list>