<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card *ngIf="modelObservable | async as model"
              fxLayout="column"
              fxLayoutAlign="center center">
        <img [src]="model?.profileImageUrl"
             default="/assets/images/placeholder-avatar.png"
             alt="profile image"
             mat-card-image>

        <mat-card-title>
            <strong>{{model?.name}}</strong>
        </mat-card-title>
        <mat-card-subtitle>Last Login: {{model?.lastLogin?.seconds * 1000 | date }}</mat-card-subtitle>
        <mat-card-content fxLayout="row"
                          fxLayoutAlign="space-between none"
                          fxFill>
            <div *ngIf="userListingsObservable | async as listings"><strong>{{listings?.length}}</strong> Hosting</div>
            <div *ngIf="userFollowingsObservable | async as followings"><strong>{{followings?.length}}</strong>
                Following
            </div>
            <div *ngIf="userFollowersObservable | async as followers"><strong>{{followers?.length}}</strong> Followers
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button *ngFor="let currentUserIsFollowing of [currentUserIsFollowingObservable | async]"
                    (click)="currentUserIsFollowing ? unfollow() : follow()"
                    color="accent"
                    mat-button>
                {{currentUserIsFollowing ? 'Following' : 'Follow'}}
            </button>
            <button *ngFor="let currentUserIsBlocking of [currentUserIsBlockingObservable | async]"
                    (click)="openBlockBottomSheet({
                    block: !currentUserIsBlocking,
                    unblock: currentUserIsBlocking
                })"
                    color="accent"
                    mat-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content>
            <p class="bio">{{model?.bio}}</p>
        </mat-card-content>
    </mat-card>
</div>