@import "../page.component";

mat-card {
  max-width: 960px !important;

  > img.mat-card-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 30px;
  }
  > mat-card-content {
    margin: 30px !important;

    p.bio {
      text-align: center;
    }
  }
}