<mat-list-item>
    <h3 matLine>
        <strong>{{model?.eventName}}</strong> has declined your refund
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date }}</small>
    </p>
</mat-list-item>
