<form (ngSubmit)="onSubmit.emit($event)"
      #loginForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.email"
               #username="ngModel"
               name="email"
               type="email"
               placeholder="Email"
               matInput
               required
               email>
        <mat-error *ngIf="username.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.password"
               #password="ngModel"
               name="password"
               type="password"
               placeholder="Password"
               matInput
               required>
        <mat-error *ngIf="password.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <button [disabled]="loginForm.invalid"
            color="primary"
            mat-raised-button>
        GET STARTED
    </button>
</form>