@import "../page.component";

.page {
  > mat-card {

    div.add-ticket {
      button {
        width: calc(100% - 20px);
        height: calc(230px + 24px + 24px) !important;
        margin: 10px;
        border: 5px dashed #ff4081;

        mat-icon {
          height: 50px;
          width: 50px;
          font-size: 50px;
        }
      }
    }
  }
}