<div fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     class="page">

    <mat-card>
        <mat-card-content>
            <mat-vertical-stepper [linear]="true">
                <mat-step [completed]="eventFormCompleted"
                          label="Event Details">
                    <app-upload-image-form [model]="model?.profileImageUrl"
                                           (onSubmit)="updateImage($event)"></app-upload-image-form>
                    <app-event-form [(model)]="model"></app-event-form>
                    <button [disabled]="!eventFormCompleted"
                            mat-button matStepperNext>Next
                    </button>
                </mat-step>
                <mat-step [completed]="venueFormComponent?.form?.valid"
                          label="Venue Details">
                    <app-venue-form [(model)]="model"></app-venue-form>
                    <button mat-button matStepperPrevious>Back</button>
                    <button [disabled]="venueFormComponent?.form?.invalid"
                            mat-button matStepperNext>Next
                    </button>
                </mat-step>
                <mat-step label="Tickets">
                    <div fxLayout="row wrap"
                         fxLayoutAlign="start start"
                         fxLayoutGap="grid"
                         fxLayoutGap.xs="0">

                        <app-ticket-edit-card *ngFor="let ticket of tickets"
                                              [model]="ticket"
                                              [listing]="model"
                                              (onEdit)="openTicketEditDialog(ticket)"
                                              (onDelete)="removeTicket(ticket)"
                                              fxFlex="33"
                                              fxFlex.lg="33"
                                              fxFlex.md="50"
                                              fxFlex.sm="100"
                                              fxFlex.xs="100"></app-ticket-edit-card>

                        <div class="add-ticket"
                             fxFlex="33"
                             fxFlex.lg="33"
                             fxFlex.md="50"
                             fxFlex.sm="100"
                             fxFlex.xs="100">
                            <button (click)="openTicketEditDialog({id: listingTicketService.createId()})"
                                    mat-button>
                                <mat-icon color="accent">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button (click)="submit()"
                                mat-button>
                            <span *ngIf="!model?.dateCreated">Create Event</span>
                            <span *ngIf="model?.dateCreated">Update Event</span>
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</div>