img {
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
}

button {
  height: 100px;
  width: 100%;
  margin: 20px 0;
  border: 5px dashed #ff4081;

  mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
  }
}