<img *ngIf="model"
     [src]="model"
     (click)="openUploadDialog()"
     default="/assets/images/placeholder-event.png"
     alt="image"
     mat-card-image>

<button *ngIf="!model"
        (click)="openUploadDialog()"
        mat-button>
    <mat-icon color="accent">photo</mat-icon>
</button>