mat-list-item {
  height: 48px !important;

  img {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
  }

  app-reply-form {
    width: 100%;
    padding-left: 16px;
  }
}