<form (ngSubmit)="onSubmit.emit($event)"
      #venueForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.venueName"
               (ngModelChange)="modelChange.emit(model)"
               #venueName="ngModel"
               name="venueName"
               placeholder="Venue Name"
               matInput
               required>
        <mat-error *ngIf="venueName.invalid">Invalid Venue Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="unit"
               #_unit="ngModel"
               name="_unit"
               placeholder="Unit / Apartment No."
               matInput>
        <mat-error *ngIf="_unit.invalid">Invalid Unit</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
        <input [(ngModel)]="venueAddress"
               (onSelect)="setVenueAddress($event)"
               #_venueAddress="ngModel"
               name="_venueAddress"
               placeholder="Venue Address"
               appGooglePlaces
               matInput
               required>
        <mat-error *ngIf="_venueAddress.invalid">Invalid Venue Address</mat-error>
    </mat-form-field>
</form>