<mat-progress-bar *ngIf="authService?.preLoading"
                  [color]="'warn'"
                  mode="query"></mat-progress-bar>

<ng-container *ngIf="!authService?.preLoading">
    <router-outlet></router-outlet>
</ng-container>