<form (ngSubmit)="onSubmit.emit($event)"
      #userPasswordForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.password"
               #password="ngModel"
               name="password"
               type="password"
               placeholder="Password"
               matInput
               required>
        <mat-error *ngIf="password.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.newPassword"
               #newPassword="ngModel"
               name="newPassword"
               type="password"
               placeholder="New Password"
               matInput
               required>
        <mat-error *ngIf="newPassword.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.newConfirmPassword"
               [pattern]="model?.newPassword"
               #newConfirmPassword="ngModel"
               name="newConfirmPassword"
               type="password"
               placeholder="Confirm New Password"
               matInput
               required>
        <mat-error *ngIf="newConfirmPassword.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <button [disabled]="userPasswordForm.invalid"
            color="primary"
            mat-raised-button>
        SUBMIT
    </button>
</form>