<form (ngSubmit)="onSubmit.emit($event)"
      #createAccountForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.name"
               #name="ngModel"
               name="name"
               placeholder="Name"
               matInput
               required>
        <mat-error *ngIf="name.invalid">Invalid Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.email"
               #email="ngModel"
               name="email"
               type="email"
               placeholder="Email"
               matInput
               required
               email>
        <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.password"
               #password="ngModel"
               name="password"
               type="password"
               placeholder="Password"
               matInput
               required>
        <mat-error *ngIf="password.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="model.type"
                    (selectionChange)="model.sub_type = null"
                    #type="ngModel"
                    name="type"
                    placeholder="Type"
                    matInput
                    required>
            <mat-option [value]="'individual'">Individual</mat-option>
            <mat-option [value]="'group'">Group</mat-option>
            <mat-option [value]="'company'">Company</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.birthDate"
               [matDatepicker]="datepicker"
               #birthDate="ngModel"
               name="birthDate"
               placeholder="Date Of Birth"
               matInput
               required>
        <mat-datepicker-toggle [for]="datepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="birthDate.invalid">Invalid Date Of Birth</mat-error>
    </mat-form-field>

    <button [disabled]="createAccountForm.invalid"
            color="primary"
            mat-raised-button>
        CREATE ACCOUNT
    </button>
</form>