@import "../list-item.component";

mat-list-item {
  height: 36px !important;

  img {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
  }
}

div.comment-wrapper {
  padding: 0 16px;

  > pre {
    margin-top: 5px !important;
  }

  > img.comment-image {
    height: 120px !important;
    max-width: 100%;
    object-fit: cover;
    cursor: zoom-in;

    &.zoom-in {
      height: auto !important;
      cursor: zoom-out;
    }
  }
}

div.reply-wrapper {
  padding: 0 16px;
  text-align: right;
}

div.replies-wrapper {
  padding-left: 46px;
}