<mat-list-item *ngIf="commenterObservable | async as commenter">
    <img [src]="commenter?.smallProfileImageUrl"
         [routerLink]="['/page/user-profile/' + userId]"
         default="/assets/images/placeholder-avatar.png"
         alt="''"
         matListAvatar>
    <h3 matLine>
        <a [routerLink]="['/page/user-profile/' + userId]">
            <strong>{{commenter?.name}}</strong>
        </a>
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}</small>
    </p>
    <button (click)="openCommentActionBottomSheet()"
            mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-list-item>
<div class="comment-wrapper"
     fxLayout="row wrap"
     fxLayoutAlign="start center"
     fxLayoutGap="10px">
    <img *ngIf="model?.commentImage"
         [src]="model?.commentImage"
         [class.zoom-in]="zoomIn"
         (click)="zoomIn = !zoomIn"
         default="/assets/images/placeholder-event.png"
         alt="comment picture"
         class="comment-image">
    <pre>{{model?.comment}}</pre>
</div>
<div *ngIf="commentRepliesObservable | async as replies"
     class="reply-wrapper">
    <button (click)="reply = true"
            color="primary"
            mat-button>
        <small *ngIf="replies?.length">View Replies ({{replies?.length}})</small>
        <small *ngIf="!replies?.length">Reply</small>
    </button>
</div>
<div *ngIf="commentRepliesObservable | async as replies"
     class="replies-wrapper">
    <mat-list *ngIf="reply">
        <app-reply-list-item *ngFor="let reply of replies"
                             [model]="reply?.payload?.doc?.data()"
                             [replyId]="reply?.payload?.doc?.id"
                             [commentId]="commentId"
                             [eventId]="eventId"
                             [userId]="reply?.payload?.doc?.data()?.userId"></app-reply-list-item>

        <app-reply-form-list-item [commentId]="commentId"
                                  [eventId]="eventId"
                                  [hostId]="hostId"
                                  [commentHostId]="userId"></app-reply-form-list-item>
    </mat-list>
</div>
