@import "../form.component";

form {
  > div {
    > button.number {
      width: 56px;
      height: 48px;
      padding: 0;
      font-size: 28px;
    }

    > mat-form-field {
      width: 64px;
      font-size: 34px;
      text-align: center;

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}