<form (ngSubmit)="onSubmit.emit($event)"
      #ticketPurchaseForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="24px">
        <button [disabled]="model.numberOfTickets <= 1"
                (click)="model.numberOfTickets = model.numberOfTickets - 1"
                class="number"
                type="button"
                color="accent"
                mat-stroked-button>
            -
        </button>
        <mat-form-field>
            <input [(ngModel)]="model.numberOfTickets"
                   [min]="min"
                   [max]="max"
                   #numberOfTickets="ngModel"
                   name="numberOfTickets"
                   type="number"
                   matInput
                   required>
        </mat-form-field>
        <button [disabled]="model.numberOfTickets >= max"
                (click)="model.numberOfTickets = model.numberOfTickets + 1"
                class="number"
                type="button"
                color="accent"
                mat-stroked-button>
            +
        </button>
    </div>

    <button [disabled]="ticketPurchaseForm.invalid"
            color="primary"
            mat-raised-button>
        {{submitBtnText}}
    </button>
</form>