<mat-nav-list>
    <a [routerLink]="['/page/receipt/' + data?.ticketPurchaseId]"
       (click)="viewReceipt()"
       mat-list-item>
        <span mat-line>View Receipt</span>
    </a>
    <a *ngIf="!data?.disabled?.requestRefund"
       (click)="requestRefund()"
       mat-list-item>
        <span mat-line>Request Refund</span>
    </a>
    <a (click)="dismiss()"
       mat-list-item>
        <span mat-line>Cancel</span>
    </a>
</mat-nav-list>