<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card>
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <mat-list>
                <a target="_blank"
                   href="https://jangubuzzapp.com/terms"
                   mat-list-item>
                    Terms Of Use
                </a>
                <a target="_blank"
                   href="https://jangubuzzapp.com/privacy"
                   mat-list-item>
                    Privacy Policy
                </a>
                <a target="_blank"
                   href="https://jangubuzzapp.com/refund"
                   mat-list-item>
                    Refund Policy
                </a>
                <a target="_blank"
                   href="https://jangubuzzapp.com/merchant"
                   mat-list-item>
                    Merchant Agreement
                </a>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>