<form (ngSubmit)="onSubmit.emit($event)"
      #userForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.name"
               #name="ngModel"
               name="name"
               placeholder="Name"
               matInput
               required>
        <mat-error *ngIf="name.invalid">Invalid Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.birthDate"
               [matDatepicker]="datepicker"
               #birthDate="ngModel"
               name="birthDate"
               placeholder="Date Of Birth"
               matInput
               required>
        <mat-datepicker-toggle [for]="datepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="birthDate.invalid">Invalid Date Of Birth</mat-error>
    </mat-form-field>
    <div>
        If this is a company or group account, the date of birth should be the primary account handler's.
    </div>

    <mat-form-field>
        <input [(ngModel)]="model.website"
               #website="ngModel"
               name="website"
               type="url"
               placeholder="Website"
               matInput>
        <mat-error *ngIf="website.invalid">Invalid Website</mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea [(ngModel)]="model.bio"
                  #bio="ngModel"
                  name="bio"
                  placeholder="Bio"
                  cdkAutosizeMinRows="5"
                  matInput
                  matTextareaAutosize></textarea>
        <mat-error *ngIf="bio.invalid">Invalid Bio</mat-error>
    </mat-form-field>

    <button [disabled]="userForm.pristine || userForm.invalid"
            color="primary"
            mat-raised-button>
        SUBMIT
    </button>
</form>