<form>
    <mat-form-field>
        <input [formControl]="formControl"
               [placeholder]="placeholder"
               [matAutocomplete]="auto"
               type="text"
               aria-label="Users"
               matInput>
        <mat-autocomplete (optionSelected)="select()"
                          #auto="matAutocomplete"
                          autoActiveFirstOption>
            <mat-option *ngFor="let option of options | async"
                        [value]="option?.payload?.doc">
                <mat-list>
                    <mat-list-item>
                        <img [src]="option?.payload?.doc?.data()?.smallProfileImageUrl"
                             default="/assets/images/placeholder-avatar.png"
                             alt="spi"
                             matListAvatar>
                        <h3 matLine>{{option?.payload?.doc?.data()?.name}}</h3>
                    </mat-list-item>
                </mat-list>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>