<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content fxLayout="row wrap"
                    fxLayoutAlign="center center">
    <p fxFlex="100">{{model?.confirmation}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="close()"
            mat-button>
        CANCEL
    </button>
    <button (click)="confirm()"
            color="primary"
            mat-button>
        CONFIRM
    </button>
</mat-dialog-actions>