<mat-card>
    <mat-card-header>
        <mat-card-title><strong>Comments ({{model?.length}})</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <app-comment-form-list-item [eventId]="eventId"
                                        [hostId]="hostId"></app-comment-form-list-item>

            <app-comment-list-item *ngFor="let comment of model"
                                   [model]="comment?.payload?.doc?.data()"
                                   [commentId]="comment?.payload?.doc?.id"
                                   [eventId]="eventId"
                                   [userId]="comment?.payload?.doc?.data()?.userId"
                                   [hostId]="hostId"></app-comment-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>