<mat-card>
    <img [src]="model?.profileImageUrl"
         default="/assets/images/placeholder-event.png"
         mat-card-image>
    <mat-chip-list>
        <mat-chip *ngIf="model?.isCanceled"
                  color="warn"
                  selected>
            Canceled
        </mat-chip>
        <mat-chip *ngIf="!model?.isCanceled && isEnded(model?.endDate?.seconds * 1000)"
                  color="primary"
                  selected>
            Ended
        </mat-chip>
        <mat-chip *ngIf="!model?.isCanceled && !isEnded(model?.endDate?.seconds * 1000) && model?.isFree"
                  color="accent"
                  selected>
            Free
        </mat-chip>
        <mat-chip
                *ngIf="!model?.isCanceled && !isEnded(model?.endDate?.seconds * 1000) && !model?.isFree && model?.priceArray"
                color="accent"
                selected>
            Starting at ${{model?.priceArray[0]}}
        </mat-chip>
    </mat-chip-list>
    <mat-card-header>
        <mat-card-title>{{model?.name}}</mat-card-title>
        <mat-card-subtitle>
            <small>{{model?.startDate?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}} -
                {{model?.endDate?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}
            </small>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button [style.color]="hitLevelColor"
                (click)="$event.stopPropagation()"
                class="icon"
                mat-button>
            <mat-icon matListIcon>whatshot</mat-icon>
            {{hitLevel}}
        </button>
        <button *ngFor="let currentUserIsBookmarked of [currentUserIsBookmarkedObservable | async]"
                [color]="currentUserIsBookmarked ? 'accent' : ''"
                [style.color]="currentUserIsBookmarked ? '' : 'gray'"
                (click)="currentUserIsBookmarked ? unbookmark() : bookmark(); $event.stopPropagation()"
                class="icon"
                mat-button>
            <mat-icon matListIcon>bookmark</mat-icon>
        </button>
        <button *ngIf="isHostedByCurrentUser"
                [style.color]="'gray'"
                (click)="openEventBottomSheet(); $event.stopPropagation()"
                class="icon"
                mat-button>
            <mat-icon matListIcon>more_vert</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>