mat-card {
  height: 336px !important;
  margin: 10px;
  cursor: pointer;

  > img {
    height: 240px !important;
    object-fit: cover;
  }

  > mat-chip-list {
    position: absolute;
    top: 200px;
    left: 10px;
  }

  > mat-card-header{
    height: 72px;
  }

  > mat-card-actions {
    text-align: right;

    button.icon {
      padding-right: 0;
      padding-left: 0;
      min-width: 50px;
    }
  }
}