<h1 mat-dialog-title>
    {{dialogTitle}}
    <button *ngIf="files?.size < model?.max"
            (click)="addFiles()"
            color="primary"
            mat-button>
        <mat-icon>cloud_upload</mat-icon>
    </button>
</h1>

<mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let file of files">
            <h4 mat-line>{{file.name}}</h4>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="close()"
            mat-button>
        CANCEL
    </button>
    <button [disabled]="!files?.size"
            (click)="confirm()"
            color="primary"
            mat-button>
        CONFIRM
    </button>
</mat-dialog-actions>

<input [accept]="model?.accept"
       (change)="onFilesAdded()"
       type="file"
       multiple
       #file/>
