<form (ngSubmit)="onSubmit.emit($event)"
      #commentForm="ngForm"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px">
    <mat-form-field fxFlex>
        <textarea [(ngModel)]="model.reply"
                  #reply="ngModel"
                  name="reply"
                  matInput
                  matTextareaAutosize
                  required></textarea>
    </mat-form-field>

    <button [disabled]="commentForm.invalid"
            color="primary"
            fxFlex="nogrow"
            mat-button>
        <mat-icon>send</mat-icon>
    </button>
</form>