@import "../page.component";

.page {
  > mat-card {
    > mat-card-content {
      > mat-list {
        > mat-list-item {
          button {
            margin-left: auto;
          }
        }
      }
    }
  }
}