<div fxLayout="row"
     fxLayoutAlign="center center"
     class="page">

    <mat-card fxLayout="column"
              fxLayoutGap="10px">
        <app-text-circle [text]="(buzzCreditObservable | async)?.payload?.data()?.credits"
                         [circumference]="'200px'"
                         [fontSize]="'50px'"
                         [background]="'linear-gradient(to right, #E91E63 , #3F51B5)'"
                         fxLayout="row"
                         fxLayoutAlign="center center"></app-text-circle>

        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                Radius (KM)
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                Buy Buzz Kilometers to quickly notify nearby users about your event. Purchases may take a few minutes to
                redirect.
            </div>
            <mat-list>
                <mat-list-item>
                    10 Buzz Kilometres
                    <button [color]="'accent'"
                            mat-raised-button>
                        $1.39
                    </button>
                </mat-list-item>
                <mat-list-item>
                    20 Buzz Kilometres
                    <button [color]="'accent'"
                            mat-raised-button>
                        $2.79
                    </button>
                </mat-list-item>
                <mat-list-item>
                    50 Buzz kilometres
                    <button [color]="'accent'"
                            mat-raised-button>
                        $5.49
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>