<form (ngSubmit)="onSubmit.emit($event)"
      #promotionForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.name"
               #name="ngModel"
               name="name"
               placeholder="Promotion Title e.g. Summer Discount"
               matInput
               required>
        <mat-error *ngIf="name.invalid">Invalid Name</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.dob"
               [matDatepicker]="datepicker"
               #dob="ngModel"
               name="dob"
               type="number"
               placeholder="Discount Percentage"
               matInput
               required>
        <mat-datepicker-toggle [for]="datepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="dob.invalid">Invalid Date Of Birth</mat-error>
    </mat-form-field>
    <div>
        Write the percentage of the discount you want applied on the selected ticket.
    </div>

    <mat-form-field>
        <input [(ngModel)]="model.dob"
               [matDatepicker]="datepicker"
               #dob="ngModel"
               name="dob"
               type="number"
               placeholder="Max amount for total usage"
               matInput
               required>
        <mat-datepicker-toggle [for]="datepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="dob.invalid">Invalid Date Of Birth</mat-error>
    </mat-form-field>
    <div>
        Max number of times this promo can be used. NOTE: Each promotion can oly be used once per user, but multiple times by different users.
    </div>

    <mat-form-field>
        <input [(ngModel)]="model.dob"
               [matDatepicker]="datepicker"
               #dob="ngModel"
               name="dob"
               type="number"
               placeholder="Max number of tickets"
               matInput
               required>
        <mat-datepicker-toggle [for]="datepicker"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="dob.invalid">Invalid Date Of Birth</mat-error>
    </mat-form-field>
    <div>
        Max number of tickets that can be affected by this promo on a single purchase.
    </div>

    <mat-form-field>
        <input [(ngModel)]="model.name"
               #name="ngModel"
               name="name"
               placeholder="Discount Code"
               matInput
               required>
        <mat-error *ngIf="name.invalid">Invalid Name</mat-error>
    </mat-form-field>

    <button [disabled]="promotionForm.invalid"
            color="primary"
            mat-raised-button>
        SUBMIT
    </button>
</form>