<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-tab-group>
        <mat-tab label="Change Email">
            <mat-card>
                <mat-card-content fxLayout="column"
                                  fxLayoutGap="10px">
                    <app-user-email-form [(model)]="model"
                                         (onSubmit)="authService.updateEmail(model?.newEmail, model?.password)"></app-user-email-form>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Change Password">
            <mat-card>
                <mat-card-content fxLayout="column"
                                  fxLayoutGap="10px">
                    <app-user-password-form [(model)]="model"
                                            (onSubmit)="authService.updatePassword(model?.newPassword, model?.password)"></app-user-password-form>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Delete Account">
            <mat-card>
                <mat-card-content fxLayout="column"
                                  fxLayoutGap="10px">
                    <app-user-delete-form [(model)]="model"
                                          (onSubmit)="deleteUser()"></app-user-delete-form>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>