@import "../page.component";

.page {
  > mat-card {
    img {
      margin-top: 25px;
      max-height: 300px;
      object-fit: contain;
      cursor: zoom-in;

      &.zoom-in {
        max-height: 100vh;
        cursor: zoom-out;
      }
    }

    div.host {
      cursor: pointer;

      > img.host-image {
        height: 30px;
        margin-top: 0;
      }
    }

    mat-card-content {
      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
    }

    > mat-card-actions {
      margin: 0;
      text-align: right;

      button.icon {
        padding-right: 0;
        padding-left: 0;
        min-width: 50px;
      }
    }
  }

  > app-guests-card, > app-comment-card {
    width: 100%;
    min-width: calc(240px + 48px);
    max-width: calc(960px + 48px);

    @media only screen and (min-width: 600px) {
      width: calc(100%);
    }
  }
}