<div fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     class="page">

    <mat-card *ngIf="modelObservable | async as listing">
        <mat-card-actions *ngIf="isHostedByCurrentUser">
            <button (click)="openEventBottomSheet()"
                    class="icon"
                    mat-button>
                <mat-icon matListIcon>more_vert</mat-icon>
            </button>
        </mat-card-actions>

        <img [src]="listing?.profileImageUrl"
             [class.zoom-in]="zoomIn"
             (click)="zoomIn = !zoomIn"
             default="/assets/images/placeholder-event.png"
             alt="event picture"
             mat-card-image>

        <mat-card-header fxLayout="row wrap"
                         fxLayoutAlign="space-between stretch">
            <mat-card-title fxFlex>
                <strong>{{listing?.name}}</strong>
            </mat-card-title>

            <div fxLayout="row"
                 fxLayoutGap="5px">
                <button *ngFor="let currentUserIsGoing of [currentUserIsGoingObservable | async]"
                        (click)="currentUserIsGoing ? unjoin() : join()"
                        color="accent"
                        mat-button>
                    {{currentUserIsGoing ? 'Going' : 'Join'}}
                </button>
                <button *ngIf="listing?.isCanceled"
                        color="warn"
                        mat-raised-button>
                    Canceled
                </button>
                <button *ngIf="!listing?.isCanceled && isEnded(listing?.endDate?.seconds * 1000)"
                        color="primary"
                        mat-raised-button>
                    Ended
                </button>
                <button *ngIf="!listing?.isCanceled && !isEnded(listing?.endDate?.seconds * 1000) && listing?.isFree"
                        color="accent"
                        mat-raised-button>
                    Free
                </button>
                <button *ngIf="!listing?.isCanceled && !isEnded(listing?.endDate?.seconds * 1000) && !listing?.isFree && listing?.priceArray"
                        (click)="openTicketsBottomSheet()"
                        color="accent"
                        mat-raised-button>
                    Tickets
                </button>
            </div>
        </mat-card-header>
        <mat-card-content fxLayout="row"
                          fxLayout.sm="column"
                          fxLayout.xs="column"
                          fxLayoutAlign.sm=" stretch"
                          fxLayoutAlign.xs=" stretch">
            <div fxFlex>
                <h4>DATE</h4>
                <p>
                    <strong>From:</strong>
                    {{listing?.startDate?.seconds * 1000 | date: 'MMM d, yyyy'}}
                    {{listing?.startDate?.seconds * 1000 | date: 'h:mm aaa'}}
                </p>
                <p>
                    <strong>To:</strong>
                    {{listing?.endDate?.seconds * 1000 | date: 'MMM d, yyyy'}}
                    {{listing?.endDate?.seconds * 1000 | date: 'h:mm aaa'}}
                </p>

                <h4>VENUE</h4>
                <p>
                    <strong>Name:</strong>
                    {{listing?.venueName}}
                </p>
                <p>
                    <strong>Address:</strong>
                    {{listing?.venueAddress}}
                </p>

                <h4>HOST</h4>
                <div *ngIf="listingHostObservable | async as host"
                     [routerLink]="['/page/user-profile/' + model.userId]"
                     class="host"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="10px">
                    <img [src]="host?.smallProfileImageUrl"
                         default="/assets/images/avatar-event.png"
                         alt=""
                         class="host-image">
                    <p>{{host?.name}}</p>
                </div>
            </div>
            <div fxFlex>
                <h4>DESCRIPTION</h4>
                <pre>{{listing?.description}}</pre>

                <h4>CATEGORIES</h4>
                <mat-chip-list>
                    <mat-chip *ngFor="let category of listing?._categories">{{category}}</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>

    <app-comment-card *ngIf="listingCommentsObservable | async as comments"
                      [model]="comments"
                      [eventId]="id"
                      [hostId]="model.userId"></app-comment-card>

    <ng-container *ngIf="isHostedByCurrentUser">
        <app-guests-card *ngIf="listingGoingObservable | async as guests"
                         [model]="guests"></app-guests-card>
    </ng-container>
</div>