<mat-list-item>
    <h3 matLine>
        A refund for <strong>{{model?.eventName}}</strong> has been granted and sent
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date }}</small>
    </p>
</mat-list-item>
