<form (ngSubmit)="onSubmit.emit($event)"
      #userDeleteForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.password"
               #password="ngModel"
               name="password"
               type="password"
               placeholder="Password"
               matInput
               required>
        <mat-error *ngIf="password.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <button [disabled]="userDeleteForm.invalid"
            color="warn"
            mat-raised-button>
        DELETE ACCOUNT
    </button>
</form>