<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content fxLayout="row wrap"
                    fxLayoutAlign="center center">
    <qrcode [qrdata]="model?.code"
            [size]="128"
            [level]="'M'"
            fxFlex="100"></qrcode>
    <p fxFlex="100">{{model?.code}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="close()"
            mat-button>
        CLOSE
    </button>
</mat-dialog-actions>