@import "../dialog.component";

h1 {
  text-align: center;
}

mat-dialog-content {
  > qrcode {
    width: 128px !important;
    max-width: 128px !important;
  }

  > p {
    text-align: center;
  }
}