@import "../page.component";

.page {
  height: 100%;

  > mat-card {
    padding: 64px;
    width: 640px;
    max-width: 100%;

    > mat-card-title {
      padding: 16px;
      text-align: center;
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 599px) {
  .page {
    > mat-card {
      padding: 32px;
    }
  }
}