<div fxLayout="row"
     fxLayoutAlign="center center"
     class="page">

    <mat-card>
        <img src="/assets/images/logo.png"
             alt="Logo"
             mat-card-image>
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <app-create-account-form [(model)]="user"
                                     (onSubmit)="authService.createUserWithEmail(user)"></app-create-account-form>

            <div>
                If this is a company or group account, the date of birth should be the primary account handler's.
            </div>
            <div>
                Creating an account means you are agreeing to our
                <a target="_blank"
                   href="https://jangubuzzapp.com/terms">Terms of Use</a> and
                <a target="_blank"
                   href="https://jangubuzzapp.com/policy">Privacy Policy</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>