<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-tab-group>
        <mat-tab label="Hosting">
            <div fxLayout="row wrap"
                 fxLayoutAlign="start start"
                 fxLayoutGap="grid"
                 fxLayoutGap.xs="0">

                <app-event-card *ngFor="let listing of currentUserHostingListingsObservable | async"
                                [model]="listing.payload.doc.data()"
                                [id]="listing.payload.doc.id"
                                [routerLink]="['/page/event/' + listing.payload.doc.id]"
                                fxFlex="25"
                                fxFlex.lg="33"
                                fxFlex.md="50"
                                fxFlex.sm="100"
                                fxFlex.xs="100">
                </app-event-card>
            </div>
        </mat-tab>
        <mat-tab label="Bookmark">
            <div fxLayout="row wrap"
                 fxLayoutAlign="start start"
                 fxLayoutGap="grid"
                 fxLayoutGap.xs="0">

                <app-event-card *ngFor="let listing of currentUserBookmarkedListingsObservable | async"
                                [model]="listing.payload.doc.data()"
                                [id]="listing.payload.doc.id"
                                [routerLink]="['/page/event/' + listing.payload.doc.id]"
                                fxFlex="25"
                                fxFlex.lg="33"
                                fxFlex.md="50"
                                fxFlex.sm="100"
                                fxFlex.xs="100">
                </app-event-card>
            </div>
        </mat-tab>
        <mat-tab label="Joined">
            <div fxLayout="row wrap"
                 fxLayoutAlign="start start"
                 fxLayoutGap="grid"
                 fxLayoutGap.xs="0">

                <app-event-card *ngFor="let listing of currentUserGoingListingsObservable | async"
                                [model]="listing.payload.doc.data()"
                                [id]="listing.payload.doc.id"
                                [routerLink]="['/page/event/' + listing.payload.doc.id]"
                                fxFlex="25"
                                fxFlex.lg="33"
                                fxFlex.md="50"
                                fxFlex.sm="100"
                                fxFlex.xs="100">
                </app-event-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>