mat-list-item {
  h3 {
    display: -webkit-box !important;
    white-space: normal !important;

    /* autoprefixer: off */
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }

  p {
    > small {
      color: gray;
    }
  }
}