@import "../page.component";

mat-card {
  > mat-card-content {
    button {
      min-width: 150px;

      &.purchased {
        color: #00FF7F;
      }
      &.refunded {
        color: #ff4081;
      }
    }
  }
}