<div fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     class="page">

    <mat-card>
        <mat-card-header fxLayout="row wrap"
                         fxLayoutAlign="space-between stretch">
            <mat-card-title fxFlex>
                <h2>Ticket Timeline</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let model of modelObservable | async">
                    <h3 matLine>
                        {{model?.payload?.doc?.data()?.numberOfTickets}} {{model?.payload?.doc?.data()?.ticketTitle}}
                        <span *ngIf="model?.payload?.doc?.data()?.type === 'purchased'">purchased</span>
                        <span *ngIf="model?.payload?.doc?.data()?.type !== 'purchased'">>refunded</span>
                    </h3>
                    <span mat-line>
                        <small>{{model?.payload?.doc?.data()?.dateCreated?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}</small>
                    </span>
                    <button [ngClass]="model?.payload?.doc?.data()?.type === 'purchased' ? 'purchased' : 'refunded'"
                            disabled
                            mat-stroked-button>
                        <mat-icon *ngIf="model?.payload?.doc?.data()?.type === 'purchased'">arrow_drop_up</mat-icon>
                        <mat-icon *ngIf="model?.payload?.doc?.data()?.type !== 'purchased'">arrow_drop_down</mat-icon>
                        {{model?.payload?.doc?.data()?.price / 100 | currency}}
                        {{model?.payload?.doc?.data()?.currency | uppercase}}
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>