<mat-card>
    <mat-card-header>
        <mat-card-title>Guests</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap"
                      fxLayoutAlign="start none">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
        <img [src]="'src'"
             default="/assets/images/placeholder-avatar.png"
             alt="">
    </mat-card-content>
</mat-card>