<div fxLayout="row"
     fxLayoutAlign="center center"
     class="page">

    <mat-card>
        <img src="/assets/images/logo.png"
             alt="Logo"
             mat-card-image>
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">

            <app-login-form [(model)]="user"
                            (onSubmit)="authService.loginWithEmail(user)"></app-login-form>

            <div fxLayout="row">
                <a [routerLink]="['/create-account']"
                   fxFlex>Create Account</a>
                <a [routerLink]="['/recover-password']"
                   id="anchor-need-help"
                   fxFlex>Need Help?</a>
            </div>

            <app-text-line-break [text]="'OR'"></app-text-line-break>

            <button (click)="authService.loginWithGoogle()"
                    mat-raised-button>
                <img src="/assets/images/google-icon.svg"
                     alt="google icon">
                CONTINUE WITH GOOGLE
            </button>
            <button (click)="authService.loginAnonoymously()"
                    mat-raised-button>
                CONTINUE ANONYMOUSLY
            </button>
            <div>
                Creating an account means you are agreeing to our
                <a target="_blank"
                   href="https://jangubuzzapp.com/terms">Terms of Use</a> and
                <a target="_blank"
                   href="https://jangubuzzapp.com/policy">Privacy Policy</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>