<mat-list-item>
    <img [src]="model?.userPic"
         default="/assets/images/placeholder-avatar.png"
         alt="user picture"
         matListAvatar>
    <h3 matLine>
        <strong>{{model?.userName}}</strong> commented on <strong>{{model?.eventName}}</strong>
    </h3>
    <p matLine>
        <small>{{model?.dateCreated?.seconds * 1000 | date }}</small>
    </p>
</mat-list-item>