@import "assets/scss/material-icons";
@import "assets/scss/base";
@import "assets/scss/snackbar";

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$gray: $mat-gray;

// Custom style for my anchor elements
a {
  color: mat-color($primary);
  text-decoration: none;
}

mat-row.mat-row {
  padding-top:6px;
  padding-bottom:6px;
  &:hover {
    background: #f0f0f0;
  }
}

mat-card.breadcrumb {
  margin-bottom:16px;
  .mat-icon {
    vertical-align: middle;
  }
}

mat-slide-toggle {
  height: 40px !important;

  p.slide-toggle-description {
    height: 20px;
    margin: 0;
    color: gray;
  }
}
mat-dialog-content {
  font-family: Arial, sans-serif;
}

button.mat-mini-fab {
  mat-icon {
    height: 26px;
  }
}