<h1 mat-dialog-title>{{dialogTitle}}</h1>

<mat-dialog-content>
    <app-ticket-form [(model)]="data.model"
                     [submitBtnText]="'Confirm'"
                     (onSubmit)="confirm()"></app-ticket-form>
</mat-dialog-content>