<div fxLayout="row"
     fxLayoutAlign="center start"
     class="page">

    <mat-card>
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <mat-tab-group>
                <mat-tab label="My Team">
                    <mat-list>
                        <mat-list-item class="auto-complete-list-item">
                            <mat-icon matListAvatar>
                                add_circle_outline
                            </mat-icon>
                            <div matLine>
                                <app-user-auto-complete
                                        (onSelect)="teamService.sendInvite($event)"></app-user-auto-complete>
                            </div>
                        </mat-list-item>
                        <mat-list-item *ngFor="let teamMember of teamService.teamObservable | async">
                            <img [src]="teamMember?.payload?.doc?.data()?.smallProfileImageUrl"
                                 default="/assets/images/placeholder-avatar.png"
                                 alt="small profile image"
                                 matListAvatar>
                            <h3 matLine>{{teamMember?.payload?.doc?.data()?.name}}</h3>
                            <button (click)="openTeamMemberActionBottomSheet(teamMember?.payload?.doc)"
                                    mat-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>

                <!-- TODO future feature
                <mat-tab label="Teams I Am On">
                    <mat-list>
                        <mat-list-item *ngFor="let member of teamService.membersObservables | async">
                            <img *ngIf="member?.smallProfileImageUrl"
                                 [src]="member?.smallProfileImageUrl"
                                 alt="small profile image"
                                 matListAvatar>
                            <mat-icon *ngIf="!member?.smallProfileImageUrl"
                                      matListAvatar>
                                account_circle
                            </mat-icon>
                            <h3 matLine>{{member?.name}}</h3>
                            <button mat-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matListAvatar>
                                add_circle_outline
                            </mat-icon>
                            <h3 matLine>Add Member</h3>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>-->
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>