<form (ngSubmit)="onSubmit.emit($event)"
      #userEmailForm="ngForm"
      fxLayout="column"
      fxLayoutGap="10px">
    <mat-form-field>
        <input [(ngModel)]="model.password"
               #password="ngModel"
               name="password"
               type="password"
               placeholder="Password"
               matInput
               required>
        <mat-error *ngIf="password.invalid">Invalid Password</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="model.newEmail"
               #newEmail="ngModel"
               name="newEmail"
               type="email"
               placeholder="New Email"
               matInput
               required
               email>
        <mat-error *ngIf="newEmail.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <button [disabled]="userEmailForm.invalid"
            color="primary"
            mat-raised-button>
        SUBMIT
    </button>
</form>