<div fxLayout="row"
     fxLayoutAlign="center center"
     class="page">

    <mat-card>
        <img src="/assets/images/logo.png"
             alt="Logo"
             mat-card-image>
        <mat-card-content fxLayout="column"
                          fxLayoutGap="10px">
            <div>
                We will send password recovery instructions to the email you provided below.
            </div>

            <app-recover-password-form [(model)]="user"
                                       (onSubmit)="recoverPassword()"></app-recover-password-form>
        </mat-card-content>
    </mat-card>
</div>