<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content>
    <form #birthdateForm="ngForm"
          fxLayout="column"
          fxLayoutGap="10px">
        <mat-form-field>
            <input [(ngModel)]="model.birthDate"
                   [matDatepicker]="datepicker"
                   #birthDate="ngModel"
                   name="birthDate"
                   placeholder="Date Of Birth"
                   matInput
                   required>
            <mat-datepicker-toggle [for]="datepicker"
                                   matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-error *ngIf="birthDate.invalid">Invalid Date Of Birth</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="close()"
            mat-button>
        CANCEL
    </button>
    <button [disabled]="birthdateForm.invalid"
            [mat-dialog-close]="model"
            color="primary"
            mat-button>
        SAVE
    </button>
</mat-dialog-actions>