<div fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     class="page">

    <mat-card *ngIf="listingObservable | async as listing">
        <img [src]="listing?.profileImageUrl"
             default="/assets/images/placeholder-event.png"
             alt="event picture"
             mat-card-image>

        <mat-card-header fxLayout="row wrap"
                         fxLayoutAlign="space-between stretch">
            <mat-card-title fxFlex>
                <h2 *ngIf="modelObservable | async as model"><strong>{{model?.title}} - ${{model?.price}} /
                    Ticket</strong></h2>
                <h3>{{listing?.name}}</h3>
            </mat-card-title>
            <mat-card-subtitle>
                {{listing?.startDate?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}} -
                {{listing?.endDate?.seconds * 1000 | date: 'MMM d, yyyy h:mm aaa'}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="modelObservable | async as model">
            <div class="total">TOTAL</div>
            <div class="amount">${{payload?.numberOfTickets * model?.price}}</div>
            <app-ticket-purchase-form [(model)]="payload"
                                      [min]="1"
                                      [max]="model?.maxNumber < model?.amount ? model?.maxNumber : model?.amount"
                                      (onSubmit)="handlePayment()"></app-ticket-purchase-form>
        </mat-card-content>
    </mat-card>
</div>