@import "../page.component";

mat-card {
  > img {
    height: 240px !important;
    object-fit: cover;
  }

  > mat-card-content {
    > div.total {
      margin-bottom: 24px;
      font-size: 24px;
      text-align: center;
    }
    > div.amount {
      font-size: 64px;
      color: lightgreen;
      text-align: center;
    }
  }
}